<div class="navbar">
    <div onclick="location.href='/home'" class="brand">
        <h1 class="heading"><i class="fas fa-smile"></i> <span class="hide">ChatBox</span></h1>
    </div>
    <% if (user) { %>
    <div class="nav-menus">
        <a class="home" href="/home">Home</a>
        <a href="/<%= user.username %>/usettings"><i class="fas fa-cog"></i></a>
    </div>
    <% } %>
</div>